<md-card layout="column">
	<div ng-switch="pannel.page">
		<div ng-switch-when="project">
			<md-content flex="10" layout="column" layout-align="center">
				<md-button class="md-raised md-primary" ng-click="showCreateProejctDialog($event)">新建工程</md-button>
			</md-content>
		</div>
		<div ng-switch-when="task">
			<md-content flex="10">
				<div class="md-tile-left">
					<md-button class="md-raised md-primary" ng-click="onNewTask($event)">新建打包任务</md-button>
				</div>
				<div class="md-tile-content">
				</div>
				<div class="md-tile-right">
					
				</div>
			</md-content>
			<md-content flex-order="2" flex="90">
				<md-list >
				  <md-item ng-repeat="item in todos | orderBy: 'date': true">
				    <md-item-content ng-click="onItemClicked(item)">
				      <div class="md-tile-content">
				        <h3>{{item.date | date:'yyyy-MM-dd HH:mm:ss'}}</h3>
				        <h4>{{item.state}}</h4>
				      </div>
				      <div class="md-tile-right">
				      	<md-button class="md-fab md-primary" aria-label="Eat cake" ng-click="onDeleteTask(item)">
		            		<md-icon md-svg-icon="core:alarm-add" style="color:#000;" alt="Add"></md-icon>
		        		</md-button>
		<!-- 				<div ng-switch="item.state">
						  <div ng-switch-when="Pennding"> -->
					      	<md-button class="md-fab md-primary" aria-label="Eat cake" ng-click="onStartTask(item)">
			            		<md-icon md-svg-icon="core:alarm-add" style="color:#000;" alt="Add"></md-icon>
			        		</md-button>
		<!-- 				  </div>
						  <div ng-switch-default>
						  </div>
						</div> -->
				      </div>
				      <div class="md-ripple-container"></div>
				    </md-item-content>
				  </md-item>
				</md-list>
			</md-content>
		</div>
	</div>
</md-card>