<md-dialog aria-label="新建工程" style="width: 600px;">
  <md-content>
    <md-subheader class="md-sticky-no-effect">{{project._id ? '修改工程' : '创建工程'}}</md-subheader>
    <form name="projectForm">
      <md-input-container>
        <label>工程名</label>
        <input required name="name" ng-model="project.name">
        <div ng-messages="projectForm.name.$error">
          <div ng-message="required">请输入工程名称.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>工程SVN地址</label>
        <input required name="svn" ng-model="project.svn">
        <div ng-messages="projectForm.svn.$error">
          <div ng-message="required">请输入工程SVN地址.</div>
        </div>
      </md-input-container>
<!--       <div layout layout="column">
        <md-input-container flex>
          <label>SVN用户名</label>
          <input name="username" ng-model="project.username">
          <div ng-messages="projectForm.username.$error">
            <div ng-message="required">请输入工程SVN用户名.</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>SVN密码</label>
          <input name="password" ng-model="project.password">
          <div ng-messages="projectForm.password.$error">
            <div ng-message="required">请输入工程SVN密码.</div>
          </div>
        </md-input-container>
      </div> -->
      <md-input-container>
        <label>pack.jar相对路径</label>
        <input required name="packPath" ng-model="project.packPath">
        <div ng-messages="projectForm.packPath.$error">
          <div ng-message="required">请输入pack.jsr的SVN工程内的相对地址.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>打包完成后的文件存放目录，用于下载打包结果</label>
        <input required name="buildPath" ng-model="project.buildPath">
        <div ng-messages="projectForm.buildPath.$error">
          <div ng-message="required">请输入打包结果SVN工程内的相对地址.</div>
        </div>
      </md-input-container>
    </form>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button flex="30" ng-click="hide()">
      取消
    </md-button>
    <md-button flex="30" ng-click="newEditProject(project)" class="md-primary" ng-disabled="!projectForm.$valid">
      {{project._id ? '修改' : '创建'}}
    </md-button>
  </div>
</md-dialog>