<form class="sample-show-hide" name="scriptForm" novalidate ng-show="!context.loading">
  <div class="row" style="padding: 40px 0px;">
    <div class="col-sm-6 col-sm-offset-1">
      <div class="panel panel-default" ng-show="script.type==='Script'">
        <div class="panel-heading">配置行为</div>
        <div class="panel-body">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              {{script.configRef ? getConfigScriptTitle(script.configRef) : '无'}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li ng-click="script.configRef=''"><a >无</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation" ng-repeat="item in configScripts"><a role="menuitem" ng-click="script.configRef=item._id">{{item.title}}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{script.type==='Script' ? '脚本行为设定' : '配置行为设定'}}</div>
        <div class="panel-body">
          <div class="row case-padding" ng-repeat="action in script.actions track by $index">
            <div ng-include="'templates/action-item.html'"></div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-success" ng-click="scriptListItemAdd('actions', $index)">+</button>
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-danger" ng-click="scriptListItemDelete('actions', $index)">X</button>
            </div>
          </div>
          <div class="case-padding">
            <button type="button" class="btn btn-success pull-right" ng-click="scriptListItemAdd('actions', -1)">添加行为</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-show="script.type==='Script'">
        <div class="panel-heading">返回行为设定</div>
        <div class="panel-body">
          <div class="row case-padding" ng-repeat="action in script.rollbackActions track by $index">
            <div ng-include="'templates/action-item.html'"></div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-success" ng-click="scriptListItemAdd('rollbackActions', $index)">+</button>
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-danger" ng-click="scriptListItemDelete('rollbackActions', $index)">X</button>
            </div>
          </div>
          <div class="case-padding">
            <button type="button" class="btn btn-success pull-right" ng-click="scriptListItemAdd('rollbackActions', -1)">添加行为</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
        <div class="row" style="padding: 0px 0px 20px 20px;">
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              新建脚本 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="newScript('Script')">执行脚本</a></li>
              <li><a ng-click="newScript('Config')">配置脚本</a></li>
              <li><a ng-click="newScript('SysConfig')">全局配置脚本</a></li>
            </ul>
          </div>
          <button ng-disabled="scriptForm.$invalid" type="button"
              class="btn btn-success" data-toggle="modal" data-target="#saveDialog" ng-click="startSaveScript('保存脚本')">保存脚本</button>
          <button ng-disabled="scriptForm.$invalid" type="button"
              class="btn btn-success" data-toggle="modal" data-target="#saveDialog" ng-click="startSaveScript('另存为')">另存为</button>
          <button ng-disabled="!nextItem" type="button"
              class="btn btn-default pull-right" ng-click="nextScript()">下一个 ></button>
          <button ng-disabled="!previousItem" type="button"
              class="btn btn-default pull-right" ng-click="previousScirpt()">< 上一个</button>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">基本信息</div>
          <div class="panel-body">
            <form name="stepOneForm" novalidate>
              <div class="input-group" ng-show="selectedScript.folder">
                <span class="input-group-addon">所在分组</span>
                <input type="text" class="form-control" ng-model="folderIdMap[selectedScript.folder]" disabled>
              </div>
              <div class="input-group">
                <span class="input-group-addon">脚本名</span>
                <input type="text" class="form-control" ng-model="script.title" placeholder="脚本标示" required>
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default" ng-show="script.type==='Script'">
          <div class="panel-heading">订单参数</div>
          <div class="panel-body">
            <form name="stepOneForm" novalidate>
              <div class="input-group">
                <span class="input-group-addon">订单ID</span>
                <input type="text" class="form-control" ng-model="script.order.reference" placeholder="自动化生成的订单编号引用">
              </div>
              <div class="input-group">
                <span class="input-group-addon">买家ID</span>
                <input type="text" class="form-control" ng-model="script.order.buyerId" placeholder="用于创建订单的card_id">
              </div>
              <div class="input-group">
                <span class="input-group-addon">金额</span>
                <input type="number" class="form-control" ng-model="script.order.amount" placeholder="Random">
              </div>
              <div class="input-group">
                <span class="input-group-addon">Coupon金额</span>
                <input type="number" class="form-control" ng-model="script.order.couponAmount" placeholder="Random">
              </div>
              <div class="input-group">
                <span class="input-group-addon">支付笔数</span>
                <input type="number" class="form-control" ng-model="script.order.count" placeholder="1,2 etc">
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default" ng-show="script.type==='Script'">
          <div class="panel-heading">配置测试参数</div>
          <div class="panel-body">
            <div class="row case-padding" ng-repeat="param in script.parameters track by $index">
              <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon">参数名</span>
                <input type="text" class="form-control" ng-model="param.name">
              </div>
              <div class="input-group">
                <span class="input-group-addon">参数值</span>
                <input type="text" class="form-control" ng-model="param.value">
              </div>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-danger" ng-click="scriptListItemDelete('parameters', $index)">X</button>
              </div>
            </div>
            <div class="case-padding">
              <button type="button" class="btn btn-success pull-right" ng-click="scriptListItemAdd('parameters', -1)">添加参数</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div calss="row sample-show-hide" ng-show="context.loading" style="padding-top: 200px;">
  <h2 class="col-sm-2 col-sm-offset-5" style="color: gray;">Loading...</h2>
</div>

<div class="modal fade" id="saveDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">分组选择</h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            {{script.folder ? folderIdMap[script.folder] : '未选择'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" ng-repeat="folder in folderList"><a role="menuitem" ng-click="script.folder=folder._id">{{folder.title}}</a></li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!script.folder" ng-click="saveScript()">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->