<md-card ng-show="project">
  <md-content layout-fill>
    <md-tabs md-selected="selectedIndex" flex>

      <md-tab label="{{panel.tab1}}">
        <div layout="column" layout-fill>
          <md-toolbar class="md-tall" md-scroll-shrink>
            <h2 class="md-toolbar-tools">
              <span>{{project.name}}</span>
            </h2>
            <span flex></span>
            <h2 class="md-toolbar-tools md-toolbar-tools-bottom" style="font-size: 0.7em;">
              <span class="md-flex">{{project.description}}</span>
            </h2>
            <md-button class="md-fab md-fab-top-right right md-primary md-hue-3" ng-click="editProject($event, project)" style="height: 40px; width: 40px;">
              E
            </md-button>
          </md-toolbar>
          <md-content layout="column" style="height: 400px;" layout-padding>
            <md-list flex="80">
              <md-item ng-repeat="action in project.actions">
                <md-item-content layout-padding>
                  <div class="md-tile-content" flex="80">
                    <h4><b>{{($index + 1) + '. '}}</b>{{action.name}}</h4>
                  </div>
                  <div class="md-tile-right" flex="20">
                      <md-button class="md-raised md-warn" ng-click="createTask($event, action)" layout-fill>执行</md-button>
                  </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
              </md-item>
            </md-list>
          </md-content>
        </div>
      </md-tab>

      <md-tab label="{{panel.tab2}}">
        <div layout="column" layout-fill>
          <md-content style="height: 480px;" layout-padding>
            <md-list>
              <md-item ng-repeat="task in activeTasks">
                <md-item-content layout-padding>
                  <div class="md-tile-left" layout="column" layout-align="center" layout-padding ng-show="task.state=='Running'">
                      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                  </div>
                  <div class="md-tile-content" flex>
                    <h3>{{task.name + '  ( ' + task.state + ' )'}}</h3>
                    <h4>{{task.action.name}}</h4>
                    <p>{{task.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                  </div>
                  <div class="md-tile-right" layout="column" flex="20" layout-fill layout-align="space-around">
                      <md-button class="md-raised" ng-click="openTerminal($event, task)">运行状态</md-button>
                      <md-button class="md-warn md-raised md-hue-2" ng-click="deleteTask($event, task)">删除任务</md-button>
                  </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
              </md-item>
            </md-list>
          </md-content>
        </div>
      </md-tab>

      <md-tab label="{{panel.tab3}}">
        <div style="height: 500px;" layout="column" layout-fill>
          <md-content flex="10" layout="row" layout-padding>
            <md-button class="md-raised" ng-click="historyPrevPage()" flex="20">上一页</md-button>
            <div flex></div>
            <md-button class="md-raised" ng-click="historyNextPage()" flex="20">下一页</md-button>
          </md-content>
          <md-content flex="80">
            <md-list >
              <md-item ng-repeat="task in historyTasks">
                <md-item-content layout-padding>
                  <div class="md-tile-content">
                    <h3>{{task.name + '  ( ' + task.state + ' )'}}</h3>
                    <h4>{{task.action.name}}</h4>
                    <div layout="row" layout-align="center center">
                      <div>{{task.date | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                      <div flex></div>
                      <md-button class="md-raised" ng-click="viewLog()">运行记录</md-button>
                      <md-button class="md-raised" ng-show="task.state=='Success'" style="margin-left: 20px;" ng-click="viewResult()">打包结果</md-button>
                      <md-button class="md-warn md-raised md-hue-2" ng-click="deleteTask($event, task)" style="margin-left: 20px;">删除任务</md-button>
                    </div>
                  </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
              </md-item>
            </md-list>
          </md-content>
        </div>
      </md-tab>

    </md-tabs>
  </md-content>
</md-card>