<md-dialog aria-label="新建工程" style="width: 600px;">
  <form name="taskForm">
    <md-content layout="row" layout-align="center center">
      <md-input-container flex>
        <label>任务名</label>
        <input required name="name" ng-model="task.name" ng-disabled="runningAction">
        <div ng-messages="taskForm.name.$error">
          <div ng-message="required">请输入新建打包任务名称.</div>
        </div>
      </md-input-container>
      <md-progress-circular md-mode="indeterminate" ng-show="runningAction"></md-progress-circular>
    </md-content>
  </form>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button flex="30" ng-click="cancel()" ng-disabled="runningAction">
      取消
    </md-button>
    <md-button flex="30" ng-click="createTask(task)" class="md-primary" ng-disabled="runningAction || !taskForm.$valid">
      确定
    </md-button>
  </div>
</md-dialog>