<div class="android">
	<div class="screen">
		<div class="actionbar flexbox flexbox-vertical" style="z-index: 999; width: 100%; height: 48px; background: #eee;" ng-show="actionbar">
			<div class="flexbox flexbox-horizontal action-back" style="height: 48px">
				<img style="align-self: center; max-widht: 20px; max-height: 20px; min-width: 20px; min-height: 20px;" src="modules/android/res/action-back.png" ng-show="actionbar.left==='local:back'">
				<div style="align-self: center; font-size: 18px; padding-left: 10px;">{{actionbar.title}}</div>
			</div>
			<div style="width: 100%; height: 1px; background: #E0E0E0;"></div>
		</div>
		<div class="inner-screen flexbox flexbox-vertical" ng-style="containerStyle">
			<div class="activity flexbox flexbox-vertical" ng-style="style"></div>
		</div>
	</div>
</div>