<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>导航</title>

    <style type="text/css">
      body {
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="col-xs-4 col-xs-offset-4">
      <h2 style="color: gray; text-align: center; padding-bottom: 40px;">功能导航</h2>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/autotest'">自动化脚本编辑器</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/sdkeditor'">SDK界面编辑器</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/autopack'">在线打包控制台</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="">日常工作笔记</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="">用户反馈收集控制台</button>
    </div>
  </body>
</html>