<!DOCTYPE html>
<html ng-app="reporterApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css">
    <!-- JQuery-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>

    <script src="javascripts/reporterApp.js"></script>
    <title>自动化测试报告</title>
  </head>
  <body ng-controller="reporterController">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" ng-show="!log">
        <div class="page-header">
          <h1>{{header.main}}<small>{{header.sub}}</small></h1>
        </div>
        <nvd3-line-with-focus-chart
                data="reportData"
                id="report"
                height="400"
                height2="50"
                margin="{left:80,top:50,bottom:30,right:50}"
                isArea="true"
                showXAxis="true"
                showYAxis="true"
                interactive="true"
                tooltips="true"
                tooltipcontent="getToolTip()"
                x2AxisTickFormat="x2AxisTickFormatFunction()"
                xAxisTickFormat="xAxisTickFormatFunction()"
                objectEquality="true"
                noData="Loading...">
             <svg></svg>
        </nvd3-line-with-focus-chart>
    </div>

    <button type="button" class="btn btn-danger btn-lg" style="position: fixed; right: 40px; top: 40px;" ng-click="closeLog()" ng-show="log">X</button>

    <div class="well" ng-show="log">
        <div class="page-header">
          <h1>{{log.title}}</h1>
        </div>
        <pre>{{log.content}}</pre>
    </div>
  </body>
</html>