<md-card layout="column">
	<md-content class="md-padding" layout-fill>
		  <md-select ng-model="feedback.semanticCategory">
		    <md-option value="CUSTOMER_SERVICE">客服咨询</md-option>
		    <md-option value="BUG" ng-selected="true">缺陷反馈</md-option>
		    <md-option value="REQUIREMENT">需求建议</md-option>
		    <md-option value="OTHERS">其他</md-option>
		  </md-select>
		  <md-select ng-model="feedback.apptype">
		    <md-option value="etao_iphone" ng-selected="true">etao_iphone</md-option>
		  </md-select>
	    <md-input-container>
	        <label>标题</label>
	        <input ng-model="feedback.title">
	    </md-input-container>
	    <md-input-container>
	        <label>内容</label>
	        <input ng-model="feedback.content">
	    </md-input-container>
	    <md-input-container>
	        <label>附加信息</label>
	        <input ng-model="feedback.extra">
	    </md-input-container>
	    <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="onSubmit()" ng-disabled="!feedback.title || !feedback.content || !feedback.semanticCategory">
	    	提交
	    </md-button>
	</md-content>
</md-card>