<md-card layout="column">
	<md-content class="md-padding" layout-fill>
		<form name="feedbackForm">
		<md-content layout="row">
		  <md-select required name="semanticCategory" ng-model="feedback.semanticCategory">
		    <md-option value="CUSTOMER_SERVICE">客服咨询</md-option>
		    <md-option value="BUG" ng-selected="true">缺陷反馈</md-option>
		    <md-option value="REQUIREMENT">需求建议</md-option>
		    <md-option value="OTHERS">其他</md-option>
		  </md-select>
		  <md-select required name="apptype" ng-model="feedback.apptype">
		  	<md-option value="interpaysdk_android" ng-selected="true">interpaysdk_android</md-option>
		  </md-select>
		  <div flex></div>
		  <md-progress-circular md-mode="indeterminate" ng-show="running"></md-progress-circular>
		</md-content>
	      <md-input-container>
	        <label>标题</label>
	        <input md-maxlength="288" required name="title" ng-model="feedback.title">
	        <div ng-messages="feedbackForm.title.$error">
	          <div ng-message="required">输入标题不得为空并小于288个字符.</div>
	        </div>
	      </md-input-container>
	      <md-input-container>
	        <label>内容</label>
	        <input md-maxlength="288" required name="content" ng-model="feedback.content">
	        <div ng-messages="feedbackForm.content.$error">
	          <div ng-message="required">输入内容不得为空并小于288个字符.</div>
	        </div>
	      </md-input-container>
	    <md-input-container>
	        <label>附加信息</label>
	        <input ng-model="feedback.extra">
	    </md-input-container>
	      <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>客户端版本号</label>
	          <input ng-model="appInfo.appVersion">
	        </md-input-container>
	        <md-input-container flex>
	          <label>OS版本号</label>
	          <input ng-model="appInfo.osVersion">
	        </md-input-container>
	        <md-input-container flex>
	          <label>机型</label>
	          <input ng-model="appInfo.device">
	        </md-input-container>
	        <md-input-container flex>
	          <label>当前城市</label>
	          <input ng-model="appInfo.city">
	        </md-input-container>
	        <md-input-container flex>
	          <label>当前网络环境</label>
	          <input ng-model="appInfo.network">
	        </md-input-container>
	      </div>
	      <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>客户端分辨率</label>
	          <input ng-model="appInfo.screen">
	        </md-input-container>
	        <md-input-container flex>
	          <label>DNS IP</label>
	          <input ng-model="appInfo.ip">
	        </md-input-container>
	        <md-input-container flex>
	          <label>产品模块名</label>
	          <input ng-model="appInfo.module">
	        </md-input-container>
	        <md-input-container flex>
	          <label>浏览器</label>
	          <input ng-model="appInfo.browser">
	        </md-input-container>
	        <md-input-container flex>
	          <label>设备唯一标识</label>
	          <input ng-model="appInfo.micaddress">
	        </md-input-container>
	      </div>
	    </form>
	    <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="onSubmit()" ng-disabled="!feedbackForm.$valid || running">
	    	提交
	    </md-button>
	</md-content>
</md-card>